# ============================================
# BASE DE DONNÉES
# ============================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changer_mot_de_passe
POSTGRES_DB=taskdb

# ============================================
# APPLICATION
# ============================================
NODE_ENV=production
PORT=4000

# ============================================
# CONNEXION API → POSTGRES
# ============================================
DB_HOST=postgres
DB_PORT=5432
DB_NAME=taskdb
DB_USER=postgres
DB_PASSWORD=changer_mot_de_passe
DB_SSL=false
