# ============================================
# BASE DE DONNÉES
# ============================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changer_mot_de_passe
POSTGRES_DB=taskdb

# ============================================
# APPLICATION
# ============================================
NODE_ENV=production
PORT=4000

# ============================================
# CONNEXION API → POSTGRES
# ============================================
DB_HOST=postgres
DB_PORT=5432
DB_NAME=taskdb
DB_USER=postgres
DB_PASSWORD=changer_mot_de_passe
DB_SSL=false

# ============================================
# POULS (tableau de la classe)
# ============================================
TABLEAU_URL=http://tableau.exemple:PORT
GROUPE=NavySeal
COULEUR=#FF0000
SERVICE=api
VERSION=dev
URL_INTERNE=http://localhost:4000
PAVILLON_FICHIER=/data/pavillon.txt
